/* Custom CSS styles */

/* Dark mode */
body.dark-mode {
  background-color: #222;
  color: #fff;
}

body.dark-mode .navbar {
  background-color: #333;
}

body.dark-mode .navbar-light .navbar-brand {
  color: #fff;
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
body.dark-mode .hero {
  background-color: #222;
}

body.dark-mode .hero h1,
body.dark-mode .hero p {
  color: #fff;
}

body.dark-mode #about h2,
body.dark-mode #about p {
  color: #fff;
}

body.dark-mode #portfolio h2 {
  color: #fff;
}

body.dark-mode #contact h2 {
  color: #fff;
}

body.dark-mode #contact form label {
  color: rgba(255, 255, 255, 0.8);
}

body.dark-mode .bg-dark {
  background-color: #333;
}
body.dark-mode .text-white {
  color: #fff !important;
}

.hero {
  padding: 150px 0;
}

#about .col-md-6 {
  align-items: center;
}

#about img {
  max-width: 300px;
}

#portfolio .card {
  height: 100%;
}

#contact form {
  max-width: 500px;
  margin: 0 auto;
}
